<HTML>
	<HEAD>
			<TITLE>Buscador de Musica</TITLE>
	</HEAD>
	<CENTER><img src= "http://icons.iconarchive.com/icons/aha-soft/multimedia/256/music-disk-SH-icon.png"></CENTER>
	<BODY background="http://homylicious.com/wp-content/uploads/home-design-abstract-art-graphic-green-image-ressource-retro-vector-wallpaper-lime-green-abstract-art.jpg"> 
		<H1> <CENTER>
			<FONT COLOR="blue">
				<P> Buscador de Musica en Bandcamp </P>
			</FONT>
		</CENTER>
		</H1> 
		<HR WIDTH=65% SIZE=4>
		<H3> <CENTER>
			<FONT COLOR="purple">
				Indique el genero musical o la ciudad de origen de la banda que desea buscar
			</FONT>
		</CENTER>
		</H3>
		<P>
			<div id="cuerpo">
			<form  action="/resultado busqueda" method="post">
				<CENTER><input type="text" name="campo" size="60"></CENTER>
				<br>
				<P>
					<CENTER><input type="submit" value="Buscar Musica" width="400" height="50"></CENTER>
				</P>
			</form>
			</div>
		</P>
		<HR WIDTH=77% SIZE=4>
		<H4><CENTER>
		<FONT COLOR="green">
			Marianela Cordero Calderón, Elizabeth Córdoba Alvarado
		</FONT>
		</CENTER>
		</H4>
		
	</BODY>
</HTML>




